<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/apps.js"></script>
  </head>
  <body ng-controller="PhoneListController">
    <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
    <p>Tolal phone adalah {{ phones.length }}</p>
    <table>
  <tr><th>Row number</th></tr>
  <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
</table>
  </body>
</html>